<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Age</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link rel="stylesheet" href="static/styles.css">
</head>

<body class="second">
  <h1 class="age">You must be {{ age }} years old.</h1>
  <div class="answer">
    <form class="decision" action="{{ url_for('correct') }}" method="post">
      <button type="submit" class="correct" name="button"><i class="fa-solid fa-circle-check"></i></button>
    </form>
    <form class="decision" action="{{ url_for('wrong') }}" method="post">
      <button type="submit" class="wrong" name="button"><i class="fa-solid fa-circle-xmark"></i></button>
    </form>
  </div>

  {% if answer==None %}

  <div class="dec-img">
    <img class="meme" src="https://media3.giphy.com/media/iFz5frbRETvCKki1j1/200.webp?cid=ecf05e47bynprj0np6xyzazahdhyx0rfl7oxcu9azfj5yen0&rid=200.webp&ct=g" alt="">
    <form class="ret" action="{{ url_for('home') }}" method="post">
      <button class="btn btn-dark" type="submit" name="button">Home</button>
    </form>
  </div>

  {% elif answer=="correct" %}

  <div class="dec-img">
    <img class="meme" src="https://media0.giphy.com/media/blSTtZehjAZ8I/giphy.webp?cid=ecf05e47royzeuyrygjxvhabsh6wtkajwht92k4fclm62hm4&rid=giphy.webp&ct=g" alt="">
    <form class="ret" action="{{ url_for('home') }}" method="post">
      <button class="btn btn-dark" type="submit" name="button">Home</button>
    </form>
  </div>

  {% elif answer=="wrong" %}

  <div class="dec-img">
    <img class="meme" src="https://media1.giphy.com/media/4pMX5rJ4PYAEM/giphy.webp?cid=ecf05e472asqwoosm51w8ngfp03yjsktj573u3hw6wz6ekbd&rid=giphy.webp&ct=g" alt="">
    <form class="ret" action="{{ url_for('home') }}" method="post">
      <button class="btn btn-dark" type="submit" name="button">Home</button>
    </form>
  </div>

  {% endif %}

</body>

</html>
