<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Guess The Age</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/styles.css">
</head>

<body>
  <h1>Let us guess your age !!!</h1>

  <div class="mb-3">
    <form action="{{ url_for('results') }}" method="post">
      <input type="text" value="{{ pre }}" class="form-control inp form-control-lg" name="input" placeholder="Enter your first name here..." required>
      <button type="submit" class="btn final-button btn-dark">Guess</button>
    </form>
  </div>

</body>

</html>
